.char, .code {
    float: left;
    margin: 5px;
}

.circle {
    background: rgb(0, 0, 0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.dash {
    background: rgb(0, 0, 0);
    width: 60px;
    height: 20px;
}

.space {
    width: 60px;
    height: 20px;
}

.endLetter {
    background: rgb(255, 0, 0);
    width: 1px;
    height: 20px;
}

.endPartLetter {
    width: 20px;
    height: 20px;
}

.largeCharacter {
    width: 20px;
    height: 20px;
    margin: -10px 5px;
}

.highlight {
    background: rgb(255, 255, 0);
}