.App {
  text-align: center;
}

.line {
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.line > div {
  float: left;
}

.line > div > table {
  display: table-cell;
  text-align: center;
}

button {
  margin: 5px;
}

textarea {
  width: 70%;
  font-size: 32px;
  height: 80px;
}

.increment {
  width: 100px;
  font-size: 32px;
}

.largeLabel {
  font-size: 32px;
  font-style: bold;
  background-color: rgb(220, 220, 220);
  margin: 5px;
}